
/* Índice de la hoja de estilos */

/* ==============================================
   1. Reset de estilos
   ============================================== */

/* ==============================================
   2. Estilos base
   ============================================== */ 

/* ==============================================
   2. Estilos para la navegación
   ============================================== */

/* ==============================================
   4. Seccion : Trending Movies Slider
   ============================================== */

/* ==============================================
   5. Seccion : Trending movies
   ============================================== */

/* ==============================================
   6. Section: View movie info | details -- click
   ============================================== */




/* ---------- Reset de estilos ---------- */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app{
  background-color: rgb(20, 20, 20);
  width: 100%;
  min-width: 768px;
  min-height: 100vh;
  height: auto;
}

/* ---------- Estilos base ---------- */
html{
  font-size: 62.5%;
}
.movie-cart{ 
  position: relative;
  cursor: pointer;
  transition: transform 0.8s;
  img{
    width: 100%;
    height: 100%;
    border-radius: var(--cart-movie-br);
  }
  div{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    padding: 10px;
    transition: All 0.8s;
    p{
      opacity: 0;
      font-size: 20px;
      font-family: Poppins;
      color: white;
      transition: all 0.2s;
    }
  }

  div:hover{
    backdrop-filter: blur(20px);
    background-color: rgba(117, 112, 112, 0.445);
    p{
      opacity: 1;
      white-space: pre-line;
    }
  }
}

.movie-cart:hover{
  transform: scale(1.1);
}



/* ---------- Estilos para la navegación ---------- */
.search-bar-section{
  width: 100%;
  height: 20%;
}
.nav-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h2{
    color: white;
    font-family: Poppins;
    font-size: var(--second-font-size-h2);
    
  }
}

.search-bar__container{
  width: 50%;
  height: auto;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  font-family: Poppins;
  
  button{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: All 0.3s;
    border: none;
    border-left: 1px solid rgba(134, 131, 131, 0.726) ;
    outline: none;
    background-color: white;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: bold;
    
    span{
      background-image: url('./assets/search-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 30px;
      height: 30px;
    }
    
   
  }

  input{
    width: 30%;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-size: 1.8rem;
    outline: none;
    border: none;
    font-family: Poppins;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(87, 88, 90);
    color: white;
    opacity: 0.4;
    transition: all 0.3s;
  }

}

.search-bar__input:focus{
  opacity: 1;
  width: 70%;
}

.search-bar__ul{
  display: grid;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  padding: 20px;
  gap: 10px;

  li{
    position: relative;
    cursor: pointer;
    transition: transform 0.8s;
    img{
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    div{
      width: 100%;
      height: 100%;
      border-radius: 8px;
      position: absolute;
      top: 0;
      padding: 10px;
      transition: All 0.8s;

      p{
        opacity: 0;
        font-size: 20px;
        font-family: Poppins;
        color: white;
        transition: all 0.2s;
      }
    }

    div:hover{
      backdrop-filter: blur(20px);
      background-color: rgba(117, 112, 112, 0.445);
      p{
        opacity: 1;
      }
    }
  
  }

  li:hover{
    transform: scale(1.1);
  }
  
}

/* ---------- Seccion : Trending Movies Slider ---------- */
.trending-section{
  width: 100%;
  height: 40%;
}
.trending-movie-section{
  width: 100%;
  
}

.movie-header{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 20px;
  /* background-color: blue; */
}

.trending-movie-list-container{  
  position: relative;
  width: 100%;
  height: 340px;
  /* background-color: blueviolet; */
  /* padding: 0 ; */

  .movies-related-button__left{
    
  }
  .movies-related-button__right{

  }

  button{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    top: 0;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(43, 42, 42, 0.466);
    backdrop-filter: blur(10px);
    color: white;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer;
  }
}

.trending-movie-list__ul{
  /* background-color: aqua; */
  height: 100%;
  list-style: none;
  padding: 20px 0;
  margin: 0;
  display: flex; 
  column-gap:6px;
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color:  rgb(164, 173, 173) rgb(36, 36, 37);

  li{
    height: 100%;
  }
 
}

.trending-movie-list-button__view-more{
  
  width: 100px;
  height: 50px;
  align-self: flex-end;
  border-radius: 8px;
  background-color: unset;
  border: 1px solid white;
  margin: 0 8px 8px;
  cursor: pointer;
  transition: background-color 0.6s;
  p{
    color: white;
    font-family: Poppins;
  }
}

.trending-movie-list-button__view-more:hover{
  background-color: rgb(122, 118, 118);
}

/* ---------- Seccion : Trending movies ---------- */

.trending{
  padding: 20px 0;
}
.view-more-trending-movies{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  padding: 20px;
  justify-items: left;
}

.view-more-trending-button__container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;

  button{
    width: 80px;
    height: 50px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: unset;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover{
   background-color: beige;
   color: black;
  }
}

.movie-container{

  flex: 0 0 auto; 
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;    
  width: 200px;
  height: 100%;
}

.movie-img{
  width: 100%;
  height: 90%;
  object-fit: cover;
}

h1{
  color: white;
  font-family: Poppins;
  font-size: var(--principal-font-size-h1);
  /* padding: 20px; */
  
}

.movie-title{
  color: white;
  font-family: Poppins;
}

.genre-movie-container{
  color: white;
  font-family: Poppins;
  cursor: pointer;
}

.genre-movie-section{
  width: 100%;
  height: 40%;
  padding: 20px ;
  header{
    
  }
}

.genre-movie-list__ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  padding: 20px;
  justify-items: left;
}

.movies-by-genre{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  padding: 20px;
  justify-items: left;
  gap: 10px;

  li{
    cursor: pointer;
    transition: transform 0.8s;
   
    img{
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }

  li:hover{
    transform: scale(1.1);
  }
}

.genre-movie-container{

  border: 1px solid white;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  transition: all 0.6s;
  p{
    font-size: 2rem;
  }
  
}

.genre-movie-container:hover{
  background-color: rgb(122, 118, 118);
}



/* ---------- Section: View movie info | details -- click ---------- */
.movie-view{
  border: none;
  position: absolute;
  z-index: 2;
  width: 60%;
  bottom: 0;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(63, 61, 61, 0.712);

}

.movies-related__container{
  
  ul{
    overflow-y: hidden;
    display: flex;
    margin: 0 auto;
    width: 90%;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color:  rgb(164, 173, 173) rgb(36, 36, 37);
    column-gap: 10px;
  

    li{
      flex: 0 0 200px;
      position: relative;
      cursor: pointer;
      transition: transform 0.8s;

      img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
  
      
      div:hover{
        backdrop-filter: blur(20px);
        background-color: rgba(117, 112, 112, 0.445);
        p{
          opacity: 1;
        }
      }
    
    }
  
    li:hover{
      transform: scale(1.1);
    }
  }
  
}

/* COVER */
.movie-view-img__container{
  position: relative;
  width: 100%;
  height: 200px;
  
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* TITLE */
.movie-view-view-detail__container{
  padding: 26px 40px;
  font-family: Poppins;
  
  span{
    color: white;
  }
  
  h2{
    color: white;
  }
  p{
    color: rgb(223, 222, 222);
  }
}

/* GENRE */
.movie-view-genre__container{
  padding: 20px 50px;
  color: white;
  ul{
    display: flex;
    list-style: none;
    column-gap: 20px;
    li{
      cursor: pointer;
      border: 1px solid;
      border-radius: 8px;
      padding: 6px;
    }
  }
}


.movie-view-background{
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.623);
}

.movie-view__img-background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.589);
  backdrop-filter: blur(10px);
}


/* BTN LEFT & RIGHT| MOVIES RELATED*/

.movies-related__container{
  position: relative;
  button{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    top: 0;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(43, 42, 42, 0.466);
    backdrop-filter: blur(10px);
    color: white;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer;
  }
}

.movies-related-button__left{
  left: 16px;
 
}
.movies-related-button__right{
  right: 16px;
}




